Project_GP/Collision/.vs/
Project_GP/Collision/x64/
.vs/HGames/v15/Browse.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Project_GP/Collision/Build/Physics.ipdb
Project_GP/Collision/Build/Physics.iobj
Project_GP/Client_IR/Saved/
Project_GP/Client_IR/Intermediate/
Project_GP/Client_IR/.vs/
Project_GP/Client_IR/Client.sln
Project_GP/Client_IR/Binaries/
